<header class="
    sticky
    top-0
    z-40
    grid
    grid-cols-2
    md:grid-cols-3
    bg-white
    shadow-md
    px-5
    py-3
    md:px-10
">
    <div class="relative flex items-center h-6 my-auto">
        <img 
            src="../../../assets/img/logos/logo.png"
            alt="Logo"
            class="h-full cursor-pointer"
        >
    </div>
    <div class="hidden md:inline relative">
        <div class="w-full flex items-center justify-end md:justify-between md:border-2 md:shadow-sm rounded-full py-2">
            <input
                type="text"
                autoComplete='off'
                type="text"
                name='search'
                placeholder='Start your search'
                class="pl-5 bg-transparent outline-none flex-grow text-sm text-gray-600 placeholder-gray-400 hidden md:inline-flex"
            />
            <mat-icon 
                fontIcon="search"
                class="text-gray-500 cursor-pointer md:mx-2"
            ></mat-icon>
        </div>
    </div>

    <div class="flex space-x-4 items-center justify-end text-gray-500">
        <button class="h-10 w-24 bg-orange-600 text-white rounded-md flex items-center justify-center">
            <mat-icon
                fontIcon="add"
                class="text-white text-sm mt-1"
            ></mat-icon>
            Create
        </button>
        <mat-icon
            fontIcon="notifications"
            class="text-gray-500 cursor-pointer"
        ></mat-icon>
        <mat-icon
            fontIcon="apps"
            class="text-gray-500 cursor-pointer"
        ></mat-icon>
        <div class="h-10 w-10 relative">
            <img
                src="../../../assets/img/user-placeholder.png"
                alt="user placeholder"
                class="w-full rounded-full cursor-pointer"
                (click)="toggleDropdown()"
            />
            <div 
                *ngIf="isDropdownOpen"
                class="absolute top-10 right-0 bg-white rounded-lg border-2 border-gray-200 flex flex-col"
            >
                <div 
                    (click)="goToProfile()"
                    class="px-4 py-3 border-b border-gray-200 hover:bg-gray-200 cursor-pointer transition duration-200 ease-out flex flex-row items-center"
                >
                    <mat-icon
                        fontIcon="account_circle"
                        class="mr-1 text-sm"
                    ></mat-icon>
                    <span>
                        Profile
                    </span>
                </div>
                <div 
                    (click)="performLogout()"
                    class="px-4 py-3 hover:bg-gray-200 cursor-pointer transition duration-200 ease-out flex flex-row items-center"
                >
                    <mat-icon
                        fontIcon="settings"
                        class="mr-1 text-sm"
                    ></mat-icon>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </div>
</header>