<div class="p-4 flex flex-col">
    <div class="flex flex-row px-4 items-center">
        <h1 class="text-gray-700 text-lg md:text-2xl font-black">
            Delivery Methods
        </h1>
        <button class="py-2 px-4 text-sm bg-emerald-700 text-white ml-2 rounded-lg inline-block md:hidden">
            Add Delivery
        </button>
    </div>
    <div class="w-full p-4 flex flex-col">
        <div class="w-full flex flex-row items-center justify-between pt-4">
            <div class="flex flex-row items-center">
                <input
                    type="text"
                    class="
                        py-3 px-3 text-sm
                        text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                        max-w-full md:max-w-[500px] min-w-[300px] md:min-w-[300px]
                    "
                    placeholder="Search for delivery method"
                    (input)="filterDeliveryMethodsBySearchTerm()"
                    [(ngModel)]="searchTerm"
                />
                <button
                    class="
                        bg-emerald-600 py-3 px-3 rounded-lg text-sm
                        text-white focus:outline-none"
                >
                    Search
                </button>
            </div>
            <button
                (click)="toggleAddDeliveryMethod()"
                class="
                    bg-transparent py-3 px-4 text-sm border-2 border-gray-700
                    text-gray-700 hover:bg-gray-700 hover:border-gray-700 hover:text-white
                    transition duration-200 ease-in-out hidden md:flex
                "
            >
                {{ addRow ? 'Cancel' : 'Add Delivery' }}
            </button>
        </div>
        <div class="flex flex-col py-2">
            <!-- Desktop table -->
            <div class="relative overflow-x-auto shadow-md hidden md:block">
                <table class="w-full text-sm text-left">
                    <thead class="bg-white text-black dark:text-white border-b dark:bg-gray-700 dark:border-gray-700">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input 
                                        type="checkbox"
                                        class="w-4 h-4
                                        text-gray-600
                                        bg-gray-100
                                        border-gray-300
                                        rounded
                                        focus:ring-gray-500
                                        dark:focus:ring-gray-600
                                        dark:ring-offset-gray-800
                                        dark:focus:ring-offset-gray-800
                                        focus:ring-2
                                        dark:bg-gray-700
                                        dark:border-gray-600"
                                        (change)="toggleSelectAll($event)"
                                    />
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                IMG
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortBy('name')">
                                <div class="flex flex-row items-center w-full">
                                    NAME
                                    <mat-icon
                                        fontIcon="arrow_drop_down"
                                    ></mat-icon>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                DELIVERY TIME
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortBy('deliveryFee')">
                                <div class="flex flex-row items-center">
                                    DELIVERY FEE
                                    <mat-icon
                                        fontIcon="arrow_drop_down"
                                    ></mat-icon>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                ACTIONS
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <!-- Add New Role -->
                        <tr class="border-b" *ngIf="addRow">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input 
                                        type="checkbox"
                                        class="w-4 h-4
                                        text-gray-600
                                        bg-gray-100
                                        border-gray-300
                                        rounded
                                        focus:ring-gray-500
                                        dark:focus:ring-gray-600
                                        dark:ring-offset-gray-800
                                        dark:focus:ring-offset-gray-800
                                        focus:ring-2
                                        dark:bg-gray-700
                                        dark:border-gray-600"
                                    />
                                </div>
                            </td>
                            <th scope="row" class="px-4 py-4">
                                <input 
                                    type="file" 
                                    placeholder="Image URL" 
                                    class="w-full p-2 border-2 text-xs font-normal"
                                    (change)="onFileSelected($event)"
                                >
                            </th>
                            <th scope="row" class="px-4 py-4">
                                <input 
                                    type="text" 
                                    placeholder="Name" 
                                    class="w-full p-2 border-2 text-xs font-normal"
                                    [(ngModel)]="deliveryMethodEdit.name"
                                    [innerHTML]="sanitizeUserInput()"
                                >
                            </th>
                            <th scope="row" class="px-4 py-4">
                                <select class="p-2 w-full border-2 mt-2 font-normal text-xs" [(ngModel)]="deliveryMethodEdit.deliveryTime">
                                    <option value="0" disabled>Select a Delivery Time</option>
                                    <option value="1">1 day</option>
                                    <option value="3">3 days</option>
                                    <option value="5">5 days</option>
                                    <option value="7">7 days</option>
                                    <option value="14">14 days</option>
                                </select>
                            </th>
                            <th scope="row" class="px-4 py-4">
                                <input 
                                    type="number" 
                                    placeholder="Fee" 
                                    class="w-full p-2 border-2 text-xs font-normal mt-2"
                                    [(ngModel)]="deliveryMethodEdit.deliveryFee"
                                    [innerHTML]="sanitizeUserInput()"
                                >
                            </th>
                            <td class="px-4 py-4 relative">
                                <div class="flex flex-row justify-between items-center">
                                    <mat-icon
                                        class="cursor-pointer text-emerald-400"
                                        fontIcon="check_circle"
                                        (click)="publishDeliveryMethod()"
                                    ></mat-icon>
                                    <mat-icon
                                        class="cursor-pointer text-rose-600"
                                        fontIcon="delete"
                                    ></mat-icon>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-b" *ngFor="let deliveryMethod of filteredDeliveryMethods$">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input 
                                        type="checkbox"
                                        class="w-4 h-4
                                        text-gray-600
                                        bg-gray-100
                                        border-gray-300
                                        rounded
                                        focus:ring-gray-500
                                        dark:focus:ring-gray-600
                                        dark:ring-offset-gray-800
                                        dark:focus:ring-offset-gray-800
                                        focus:ring-2
                                        dark:bg-gray-700
                                        dark:border-gray-600
                                        font-normal
                                        "
                                    />
                                </div>
                            </td>
                            <th scope="row" class="px-6 py-4">
                                IMG
                            </th>
                            <th scope="row" class="px-6 py-4">
                                <span *ngIf="!isEditRow(deliveryMethod.id)">
                                    {{ deliveryMethod.name }}
                                </span>
                                <input 
                                    type="text" 
                                    placeholder="Name" 
                                    class="w-full p-2 border-2 text-xs font-normal mt-2"
                                    [(ngModel)]="deliveryMethodEdit.name"
                                    [innerHTML]="sanitizeUserInput()"
                                    *ngIf="isEditRow(deliveryMethod.id)"
                                >
                            </th>
                            <th scope="row" class="px-6 py-4">
                                <span *ngIf="!isEditRow(deliveryMethod.id)">
                                    {{ deliveryMethod.deliveryTime }} days
                                </span>
                                <select class="p-2 w-full border-2 mt-2 font-normal text-xs" [(ngModel)]="deliveryMethodEdit.deliveryTime" *ngIf="isEditRow(deliveryMethod.id)">
                                    <option value="0" disabled>Select a Delivery Time</option>
                                    <option value="1">1 day</option>
                                    <option value="3">3 days</option>
                                    <option value="5">5 days</option>
                                    <option value="7">7 days</option>
                                    <option value="14">14 days</option>
                                </select>
                            </th>
                            <td class="px-6 py-4">
                                <span *ngIf="!isEditRow(deliveryMethod.id)">
                                    ZK{{ deliveryMethod.deliveryFee }}
                                </span>
                                <input 
                                    type="number" 
                                    placeholder="Fee" 
                                    class="w-full p-2 border-2 text-xs font-normal mt-2"
                                    [(ngModel)]="deliveryMethodEdit.deliveryFee"
                                    [innerHTML]="sanitizeUserInput()"
                                    *ngIf="isEditRow(deliveryMethod.id)"
                                >
                            </td>
                            <td class="px-6 py-4 relative">
                                <div class="flex flex-row justify-between items-center">
                                    <mat-icon
                                        *ngIf="isEditRow(deliveryMethod.id)"
                                        (click)="toggleEditDeliveryMethod(deliveryMethod)"
                                        class="cursor-pointer text-yellow-600"
                                        fontIcon="clear"
                                    ></mat-icon>
                                    <mat-icon
                                        *ngIf="!isEditRow(deliveryMethod.id)"
                                        (click)="toggleEditDeliveryMethod(deliveryMethod)"
                                        class="cursor-pointer text-yellow-400"
                                        fontIcon="edit"
                                    ></mat-icon>
                                    <mat-icon
                                        *ngIf="isEditRow(deliveryMethod.id)"
                                        (click)="performUpdateDeliverMethod(deliveryMethod.id)"
                                        class="cursor-pointer text-emerald-400"
                                        fontIcon="check_circle"
                                    ></mat-icon>
                                    <mat-icon
                                        (click)="toggleDeleteDeliveryMethod(deliveryMethod)"
                                        class="cursor-pointer text-rose-600"
                                        fontIcon="delete"
                                    ></mat-icon>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="filteredDeliveryMethods$.length === 0">
                            <td colspan="8" class="text-center py-4 text-gray-600">
                                No delivery methods found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- mobile table -->
            <div></div>
            <!-- Pagination -->
            <div class="flex-row items-center justify-between my-4 flex" *ngIf="totalDeliveryMethods > pageSize">
                <div>
                    <span class="text-sm text-gray-700">{{ startIndex + 1 }} - {{ endIndex }} of {{ totalDeliveryMethods }}</span>
                </div>
                <div class="flex flex-row border-2">
                    <span 
                        class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                        (click)="goToFirstPage()"
                    >
                        First
                    </span>
                    <span 
                        class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                        (click)="goToPrevPage()"
                    >
                        Prev
                    </span>
                    <ng-container *ngFor="let page of pagesArray">
                        <span
                            class="py-2 px-4 border-r-2 cursor-pointer hover:bg-gray-100 transition duration-200 ease-in-out"
                            [ngClass]="{ 'bg-gray-700 text-white': page === currentPage, 'bg-transparent text-gray-700': page !== currentPage }"
                            (click)="setPage(page)"
                        >
                            {{ page }}
                        </span>
                    </ng-container>
                    <span
                        class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                        (click)="goToNextPage()"
                    >
                        Next
                    </span>
                    <span 
                        class="p-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                        (click)="goToLastPage()"
                    >
                        Last
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal>
    <!-- Modal body -->
    <div class="flex flex-col justify-center items-center p-4">
        <div class="py-3">
            Are you sure you want to delete this delivery method?
        </div>
        <div class="flex flex-row items-center justify-center">
            <button
                type="submit"
                (click)="performDeleteDeliveryMethod()"
                class="text-gray-600 text-sm mr-2 bg-transparent px-4 py-2 rounded-lg border-2 border-gray-600"
            >
                Delete
            </button>
            <button
                (click)="closePaymentMethodModal()"
                class="text-white text-sm bg-rose-600 px-4 py-2 rounded-lg hover:bg-rose-500 transition duration-200 ease-in-out"
            >
                Cancel
            </button>
        </div>
    </div>
</app-modal>

<app-toaster>
    <div class="flex flex-row w-full h-full">
        <span 
            [ngClass]="{ 'text-green-500': toasterType === 'success', 'text-red-500': toasterType === 'error' }"
        >
            {{ toasterMessage }}
        </span>
        <mat-icon
            (click)="closeToaster()"
            fontIcon="close"
            class="text-gray-500 ml-2 cursor-pointer"
        ></mat-icon>
    </div>
</app-toaster>