<div class="p-4 flex flex-col">
    <div class="flex flex-row px-4 items-center">
        <h1 class="text-gray-700 text-lg md:text-2xl font-black">
            Stores
        </h1>
        <button class="py-2 px-4 text-sm bg-emerald-700 text-white ml-2 rounded-lg inline-block md:hidden">
            Add Store
        </button>
    </div>
    <div class="w-full p-4 flex flex-col">
        <div class="py-2 px-3 bg-white rounded-lg">
            <div class="w-full flex flex-row items-center justify-between pt-4">
                <div class="flex flex-row items-center">
                    <input
                        type="text"
                        class="
                            py-3 px-3 text-sm
                            text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                            max-w-full md:max-w-[500px] min-w-[300px] md:min-w-[300px]
                        "
                        placeholder="Search for stores"
                        (input)="filterStoresBySearchTerm()"
                        [(ngModel)]="searchTerm"
                    />
                    <button
                        class="
                            bg-emerald-600 py-3 px-3 rounded-lg text-sm
                            text-white focus:outline-none"
                    >
                        Search
                    </button>
                </div>
                <div class="flex">
                    <button
                        (click)="toggleFilterDrawer()"
                        class="
                            bg-transparent py-3 px-2 me-2 text-sm
                            text-gray-700 hover:bg-gray-700 hover:text-white
                            transition duration-200 ease-in-out hidden md:flex
                        "
                    >
                        <mat-icon>menu</mat-icon>
                    </button>
                    <button
                        *ngIf="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN')"
                        (click)="toggleAddStore()"
                        class="
                            bg-transparent py-3 px-4 text-sm border-2 border-gray-700
                            text-gray-700 hover:bg-gray-700 hover:border-gray-700 hover:text-white
                            transition duration-200 ease-in-out hidden md:flex
                        "
                    >
                        {{ addRow ? 'Cancel' : 'Add Store' }}
                    </button>
                </div>
            </div>
            <div class="flex flex-col py-2">
                <!-- desktop table -->
                <div class="relative overflow-x-auto shadow-md hidden md:block">
                    <table class="w-full text-sm text-left">
                        <thead class="text-white border-b bg-gray-700 border-gray-700">
                            <tr>
                                <th scope="col" class="p-4">
                                    <div class="flex items-center">
                                        <input 
                                            type="checkbox"
                                            class="w-4 h-4
                                            text-gray-600
                                            bg-gray-100
                                            border-gray-300
                                            rounded
                                            focus:ring-gray-500
                                            dark:focus:ring-gray-600
                                            dark:ring-offset-gray-800
                                            dark:focus:ring-offset-gray-800
                                            focus:ring-2
                                            dark:bg-gray-700
                                            dark:border-gray-600"
                                            (change)="toggleSelectAll($event)"
                                        />
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortBy('name')">
                                    <div class="flex flex-row items-center w-full">
                                        NAME
                                        <mat-icon
                                            fontIcon="arrow_drop_down"
                                        ></mat-icon>
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortBy('city')">
                                    <div class="flex flex-row items-center">
                                        LOCATION
                                        <mat-icon
                                            fontIcon="arrow_drop_down"
                                        ></mat-icon>
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    VENDOR
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    PLAN
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    REVENUE
                                </th>
                                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortBy('status')">
                                    <div class="flex flex-row items-center w-full">
                                        STATUS
                                        <mat-icon
                                            fontIcon="arrow_drop_down"
                                        ></mat-icon>
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    ACTIONS
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <!-- Add New Role -->
                            <tr class="border-b" *ngIf="addRow">
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input 
                                            type="checkbox"
                                            class="w-4 h-4
                                            text-gray-600
                                            bg-gray-100
                                            border-gray-300
                                            rounded
                                            focus:ring-gray-500
                                            dark:focus:ring-gray-600
                                            dark:ring-offset-gray-800
                                            dark:focus:ring-offset-gray-800
                                            focus:ring-2
                                            dark:bg-gray-700
                                            dark:border-gray-600"
                                        />
                                    </div>
                                </td>
                                <th scope="row" class="px-2 py-4">
                                    <input type="text" placeholder="Store name" class="w-full p-2 border-2" [(ngModel)]="editStore.name">
                                </th>
                                <th scope="row" class="px-2 py-4">
                                    <div class="flex flex-col">
                                        <input type="text" placeholder="Address" class="w-full p-2 border-2" [(ngModel)]="editStore.address">
                                        <select class="p-2 w-full border-2 mt-2" [(ngModel)]="editStore.city">
                                            <option value="Lusaka">Lusaka</option>
                                            <option value="Ndola">Ndola</option>
                                            <option value="Kabwe">Kabwe</option>
                                        </select>
                                    </div>
                                </th>
                                <td class="px-2 py-4">
                                    <select class="p-2 w-full border-2" [(ngModel)]="editStore.vendorId">
                                        <option value="0" disabled>Select a Vendor</option>
                                        <option *ngFor="let vendor of vendors$" [value]="vendor.id">{{ vendor.name }}</option>
                                    </select>
                                </td>
                                <td class="px-2 py-4">
                                    <select class="p-2 w-full border-2" [(ngModel)]="editStore.planId">
                                        <option value="0" disabled>Select a Plan</option>
                                        <option *ngFor="let plan of allPlans$" [value]="plan.id">{{ plan.name }}</option>
                                    </select>
                                </td>
                                <td class="px-2 py-4">
                                    ZK0.00
                                </td>
                                <td class="px-2 py-4 w-14">
                                    <mat-slide-toggle
                                        [checked]="editStore.status"
                                        (change)="toggleStoreStatus()"
                                    >
                                        {{ editStore.status ? 'Active' : 'Inactive' }}
                                    </mat-slide-toggle>
                                </td>
                                <td class="px-2 py-4 relative">
                                    <div class="flex flex-row justify-between items-center">
                                        <mat-icon
                                            (click)="publishStore()"
                                            class="cursor-pointer text-emerald-400"
                                            fontIcon="check_circle"
                                        ></mat-icon>
                                        <mat-icon
                                            class="cursor-pointer text-rose-600"
                                            fontIcon="delete"
                                        ></mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-b" *ngFor="let store of filteredStores$">
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input 
                                            type="checkbox"
                                            class="w-4 h-4
                                            text-gray-600
                                            bg-gray-100
                                            border-gray-300
                                            rounded
                                            focus:ring-gray-500
                                            dark:focus:ring-gray-600
                                            dark:ring-offset-gray-800
                                            dark:focus:ring-offset-gray-800
                                            focus:ring-2
                                            dark:bg-gray-700
                                            dark:border-gray-600
                                            font-normal
                                            "
                                        />
                                    </div>
                                </td>
                                <th scope="row" class="px-2 py-4">
                                    <span *ngIf="!isEditRow(store.id)" class="font-normal">
                                        {{ store.name }}
                                    </span>
                                    <input
                                        *ngIf="isEditRow(store.id)"
                                        type="text"
                                        class="w-full p-2 border-2 font-normal"
                                        [(ngModel)]="editStore.name"
                                    />
                                </th>
                                <th scope="row" class="px-2 py-4">
                                    <div class="flex flex-col" *ngIf="!isEditRow(store.id)">
                                        <span class="font-normal">
                                            {{ store.address }}
                                        </span>
                                        <span class="text-sm">
                                            {{ store.city }}, {{ store.country }}
                                        </span>
                                    </div>
                                    <div class="flex flex-col" *ngIf="isEditRow(store.id)">
                                        <input type="text" placeholder="Update address" class="w-full p-2 border-2 font-normal" [(ngModel)]="editStore.address">
                                        <select class="p-2 w-full border-2 mt-2 font-normal">
                                            <option value="1">Lusaka</option>
                                            <option value="2">Ndola</option>
                                            <option value="3">Kabwe</option>
                                        </select>
                                    </div>
                                </th>
                                <td class="px-2 py-4">
                                    <div *ngIf="!isEditRow(store.id)" class="flex flex-col">
                                        <span>
                                            {{ getVendorById(store.vendorId)?.name }}
                                        </span>
                                        <span>
                                            {{ getVendorById(store.vendorId)?.phone }}
                                        </span>
                                    </div>
                                    <select class="p-2 w-full border-2" *ngIf="isEditRow(store.id)" [(ngModel)]="editStore.vendorId">
                                        <option value="0" disabled>Select a Vendor</option>
                                        <option *ngFor="let vendor of vendors$" [value]="vendor.id">{{ vendor.name }}</option>
                                    </select>
                                </td>
                                <td class="px-2 py-4">
                                    <span *ngIf="!isEditRow(store.id)">
                                        {{ getPlanById(store.planId) }}
                                    </span>
                                    <select class="p-2 w-full border-2" *ngIf="isEditRow(store.id)" [(ngModel)]="editStore.planId">
                                        <option value="0" disabled>Select a Plan</option>
                                        <option *ngFor="let plan of allPlans$" [value]="plan.id">{{ plan.name }}</option>
                                    </select>
                                </td>
                                <td class="px-2 py-4">
                                    Fix this later
                                </td>
                                <td class="px-2 py-4 w-14">
                                    <mat-slide-toggle
                                        [checked]="store.status"
                                    >
                                        {{ store.status ? 'Active' : 'Inactive' }}
                                    </mat-slide-toggle>
                                </td>
                                <td class="px-2 py-4 relative">
                                    <div class="flex flex-row justify-between items-center">
                                        <mat-icon
                                            (click)="toggleViewStore(store.id)"
                                            *ngIf="!isEditRow(store.id)"
                                            class="cursor-pointer text-gray-600"
                                            fontIcon="visibility"
                                        ></mat-icon>
                                        <mat-icon
                                            *ngIf="isEditRow(store.id)"
                                            (click)="toggleEditStore(store)"
                                            class="cursor-pointer text-yellow-600"
                                            fontIcon="clear"
                                        ></mat-icon>
                                        <mat-icon
                                            *ngIf="!isEditRow(store.id)"
                                            (click)="toggleEditStore(store)"
                                            class="cursor-pointer text-yellow-400"
                                            fontIcon="edit"
                                        ></mat-icon>
                                        <mat-icon
                                            *ngIf="isEditRow(store.id)"
                                            (click)="performUpdateStore()"
                                            class="cursor-pointer text-emerald-400"
                                            fontIcon="check_circle"
                                        ></mat-icon>
                                        <mat-icon
                                            (click)="toggleDeleteStore(store)"
                                            class="cursor-pointer text-rose-600"
                                            fontIcon="delete"
                                        ></mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="filteredStores$.length === 0">
                                <td colspan="8" class="text-center py-4 text-gray-600">
                                    No stores found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- mobile table -->
                <div class="flex flex-col md:hidden first:mt-0 mt-4">
                    <div class="flex flex-row items-center justify-between w-full p-3 bg-gray-100">
                        <span class="text-sm text-gray-600 font-semibold">
                            SMART BUSINESS CENTER
                        </span>
                        <mat-icon
                            class="text-gray-600 cursor-pointer"
                            fontIcon="arrow_drop_down"
                        ></mat-icon>
                    </div>
                    <div class="flex flex-row items-center justify-between w-full border">
                        <span class="text-sm text-gray-600 font-semibold w-1/4 p-3">
                            VENDOR
                        </span>
                        <div class="w-3/4 flex flex-col p-3 border-l">
                            <span class="text-sm text-gray-600 pl-2">
                                Venancio Gomani
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-between w-full border">
                        <span class="text-sm text-gray-600 font-semibold w-1/4 p-3">
                            WEIGHT
                        </span>
                        <div class="w-3/4 flex flex-col p-3 border-l">
                            <span class="text-sm text-gray-600 pl-2">
                                8.0
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-between w-full border">
                        <span class="text-sm text-gray-600 font-semibold w-1/4 p-3">
                            REVENUE
                        </span>
                        <div class="w-3/4 flex flex-col p-3 border-l">
                            <span class="text-sm text-gray-600 pl-2">
                                ZK70,000
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-between w-full border">
                        <span class="text-sm text-gray-600 font-semibold w-1/4 p-3">
                            STATUS
                        </span>
                        <div class="w-3/4 flex flex-col p-3 border-l">
                            <span class="text-sm text-gray-600 pl-2">
                                <mat-slide-toggle>
                                    Inactive
                                </mat-slide-toggle>
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-end w-full border p-3">
                        <button
                            class="
                                bg-transparent border-2 border-gray-700 py-2 px-3 text-sm ml-1 text-gray-700
                                transition duration-200 ease-in-out rounded-lg
                            "
                        >
                            <mat-icon
                                class="cursor-pointer"
                                fontIcon="edit"
                            ></mat-icon>
                        </button>
                        <button
                            class="
                                bg-gray-700 py-2 px-3 text-sm ml-1 text-white
                                transition duration-200 ease-in-out rounded-lg
                            "
                        >
                            <mat-icon
                                class="cursor-pointer"
                                fontIcon="delete"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="flex-row items-center justify-between my-4 flex" *ngIf="totalStores > pageSize">
                    <div>
                        <span class="text-sm text-gray-700">{{ startIndex + 1 }} - {{ endIndex }} of {{ totalStores }}</span>
                    </div>
                    <div class="flex flex-row border-2">
                        <span 
                            class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                            (click)="goToFirstPage()"
                        >
                            First
                        </span>
                        <span 
                            class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                            (click)="goToPrevPage()"
                        >
                            Prev
                        </span>
                        <ng-container *ngFor="let page of pagesArray">
                            <span
                                class="py-2 px-4 border-r-2 cursor-pointer hover:bg-gray-100 transition duration-200 ease-in-out"
                                [ngClass]="{ 'bg-gray-700 text-white': page === currentPage, 'bg-transparent text-gray-700': page !== currentPage }"
                                (click)="setPage(page)"
                            >
                                {{ page }}
                            </span>
                        </ng-container>
                        <span
                            class="p-2 border-r-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                            (click)="goToNextPage()"
                        >
                            Next
                        </span>
                        <span 
                            class="p-2 cursor-pointer bg-transparent hover:bg-gray-100 transition duration-200 ease-in-out"
                            (click)="goToLastPage()"
                        >
                            Last
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Store Modal -->
<app-modal>
    <!-- Modal body -->
    <div class="flex flex-col justify-center items-center p-4">
        <div class="py-3">
            Are you sure you want to delete this store?
        </div>
        <div class="flex flex-row items-center justify-center">
            <button
                type="submit"
                (click)="performDeleteStore()"
                class="text-gray-600 text-sm mr-2 bg-transparent px-4 py-2 rounded-lg border-2 border-gray-600"
            >
                Delete
            </button>
            <button
                (click)="closeStoreModal()"
                class="text-white text-sm bg-rose-600 px-4 py-2 rounded-lg hover:bg-rose-500 transition duration-200 ease-in-out"
            >
                Cancel
            </button>
        </div>
    </div>
</app-modal>

<app-toaster>
    <div class="flex flex-row w-full h-full">
        <span 
            [ngClass]="{ 'text-green-500': toasterType === 'success', 'text-red-500': toasterType === 'error' }"
        >
            {{ toasterMessage }}
        </span>
        <mat-icon
            (click)="closeToaster()"
            fontIcon="close"
            class="text-gray-500 ml-2 cursor-pointer"
        ></mat-icon>
    </div>
</app-toaster>

<app-filter-drawer>
    <div class="flex justify-between border-b">
        <h3 class="text-xl text-gray-600 font-semibold">
            Filter Stores
        </h3>
        <button
            mat-icon-button
            class="text-rose-600 text-xl"
            (click)="toggleFilterDrawer()"
        >
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col pt-4 pb-2 border-b" *ngIf="selectedFilterKeys.length > 0">
        <div class="grid grid-cols-3 gap-2">
            <div class="flex justify-between items-center px-2 py-0 border-2 border-rose-700 text-rose-700 rounded-full text-xs" *ngFor="let selectedFilter of selectedFilterKeys">
                <span>{{ selectedFilter.name }}</span>
                <mat-icon fontIcon="close" class="text-xs pt-1 cursor-pointer" (click)="clearFilterByValue(selectedFilter)"></mat-icon>
            </div>
        </div>
        <span class="flex justify-end py-1 text-blue-700 text-sm cursor-pointer underline font-semibold" (click)="clearFilters()">
            Clear filters
        </span>
    </div>
    <div class="flex flex-col pt-4">
        <!-- Filter by -->
        <div class="text-sm relative pb-3" *ngFor="let filter of filterKeys">
            <div
                (click)="toggleFilterStatus(filter)"
                class="relative border-2 p-2 w-full cursor-pointer flex justify-between items-center"
                [ngClass]="isFilterByOpen(filter) ? 'border-emerald-700' : 'border-gray-700'"
            >
                <span>{{ formatFilterLabel(filter) }}</span>
                <mat-icon
                    fontIcon="arrow_drop_down"
                ></mat-icon>
            </div>
            <div *ngIf="isFilterByOpen(filter)" class="flex flex-col absolute top-12 shadow-md w-full z-10 bg-white">
                <div class="flex flex-row p-3" *ngFor="let filterKey of getFiltersByKey(filter)">
                    <input 
                        type="checkbox"
                        class="w-4 h-4
                            text-gray-600
                            bg-gray-100
                            border-gray-300
                            rounded
                            focus:ring-gray-500
                            focus:ring-2
                            font-normal
                        "
                        (change)="performFilterByValue(filterKey)"
                        [checked]="isFilterValueSelected(filterKey)"
                    />
                    <span class="text-gray-500 px-2 text-xs">
                        {{formatFilterLabel(filterKey.name)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</app-filter-drawer>