<div class="p-4 flex flex-col" *ngIf="!isLoading$">
    <div class="flex flex-row px-4 items-center mb-2">
        <span class="text-gray-700 text-xl font-semibold">
            {{ singleStore$.name }}
        </span>
        <button 
            class="py-2 px-4 text-sm bg-emerald-700 text-white ml-2 rounded-lg inline-block md:hidden"
            (click)="toggleEditMode()"
        >
            {{ isEditing ? 'Cancel' : 'Edit'}}
        </button>
    </div>
    <div class="w-full px-4 flex flex-col">
        <div class="py-2 px-3 bg-white rounded-lg flex flex-col shadow-md">
            <div class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <div class="p-4 flex flex-row items-center">
                    <mat-icon
                        fontIcon="account_balance_wallet"
                        class="text-gray-600 mr-2"
                    ></mat-icon>
                    <div class="flex flex-col">
                        <span class="text-sm text-gray-600">
                            Main Balance
                        </span>
                        <span class="text-2xl text-gray-700 font-semibold">
                            ZK673,412.00
                        </span>
                    </div>
                </div>
                <div class="p-4 flex flex-col">
                    <span class="text-gray-500 text-sm">
                        Valid Through
                    </span>
                    <span class="font-semibold text-gray-600">
                        08/23
                    </span>
                </div>
                <div class="p-4 flex flex-col">
                    <span class="text-gray-500 text-sm">
                        Account Holder
                    </span>
                    <span class="font-semibold text-gray-600" *ngIf="!isEditing">
                        {{ getStorePrimaryPaymentDetails?.accountName }}
                    </span>
                    <select class="p-2 w-full border-2 mt-2" *ngIf="isEditing">
                        <option value="Lusaka">Vendor 1</option>
                        <option value="Ndola">Vendor 2</option>
                        <option value="Kabwe">Vendor 3</option>
                    </select>
                </div>
                <div class="p-4 flex flex-col">
                    <span class="text-gray-500 text-sm">
                        Payment To
                    </span>
                    <span class="font-semibold text-gray-600" *ngIf="!isEditing">
                        {{ getPaymentAccountTypeById(getStorePrimaryPaymentDetails?.accountType) }}: {{ sanitizeAccountNumber(getStorePrimaryPaymentDetails) }}
                    </span>
                    <select class="p-2 w-full border-2 mt-2" *ngIf="isEditing">
                        <option value="Lusaka">Payment Method 1</option>
                        <option value="Ndola">Payment Method 2</option>
                        <option value="Kabwe">Payment Method 3</option>
                    </select>
                </div>
                <mat-icon
                    *ngIf="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN')"
                    (click)="toggleEditDropdown()"
                    fontIcon="more_vert"
                    class="absolute top-2 right-2 text-gray-500 cursor-pointer"
                ></mat-icon>
                <div 
                    [ngClass]="showEdit ? 'block' : 'hidden'"
                    class="bg-white border-2 border-gray-100 shadow-md absolute top-6 right-6 rounded-lg z-10 flex flex-col"
                >
                    <div
                        class="
                            flex flex-row items-center justify-between w-[100px] py-2 cursor-pointer border-b border-gray-200
                            hover:bg-gray-100 transition duration-300 ease-in-out
                        "
                        (click)="toggleEditMode()"
                    >
                        <span class="text-gray-700 pl-2">
                            {{ isEditing ? 'Cancel' : 'Edit'}}
                        </span>
                        <mat-icon
                            fontIcon="edit"
                            class="text-gray-600 mr-2 mt-1 text-sm"
                        ></mat-icon>
                    </div>
                    <div 
                        class="
                            flex flex-row items-center justify-between w-[100px] py-2 cursor-pointer
                            hover:bg-gray-100 transition duration-300 ease-in-out
                        "
                    >
                        <span class="text-rose-600 pl-2">
                            Delete
                        </span>
                        <mat-icon
                            fontIcon="delete"
                            class="text-rose-600 mr-2 mt-1 text-sm"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-4 w-full">
                <div class="relative w-full h-4 bg-gray-100 rounded-full">
                    <div
                        class="absolute top-0 h-4 bg-emerald-400 rounded-full"
                        style="width: 50%"
                    ></div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-2 pb-3">
                <div class="p-2">
                    <div 
                        class="
                            flex flex-row items-center justify-center bg-rose-50 rounded-xl p-2
                            hover:bg-rose-100 cursor-pointer transition duration-300 ease-in-out
                        "
                    >
                        <div 
                            class="
                                border-4 border-rose-500 text-sm
                                w-12 h-12 bg-white rounded-full flex items-center justify-center shadow-md text-rose-500 font-semibold
                            "
                        >
                            24%
                        </div>
                        <div class="flex flex-grow flex-col ml-3">
                            <span class="text-gray-600 text-sm font-semibold">
                                Products Sold
                            </span>
                            <span class="text-gray-400">
                                1,200
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div 
                        class="
                            flex flex-row items-center justify-center bg-green-50 rounded-xl p-2
                            hover:bg-green-100 cursor-pointer transition duration-300 ease-in-out
                        "
                    >
                        <div 
                            class="
                                border-4 border-green-500 text-sm
                                w-12 h-12 bg-white rounded-full flex items-center justify-center shadow-md text-green-500 font-semibold
                            "
                        >
                            24%
                        </div>
                        <div class="flex flex-grow flex-col ml-3">
                            <span class="text-gray-600 text-sm font-semibold">
                                Orders
                            </span>
                            <span class="text-gray-400">
                                20
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div 
                        class="
                            flex flex-row items-center justify-center bg-yellow-50 rounded-xl p-2
                            hover:bg-yellow-100 cursor-pointer transition duration-300 ease-in-out
                        "
                    >
                        <div 
                            class="
                                border-4 border-yellow-500 text-sm
                                w-12 h-12 bg-white rounded-full flex items-center justify-center shadow-md text-yellow-500 font-semibold
                            "
                        >
                            24%
                        </div>
                        <div class="flex flex-grow flex-col ml-3">
                            <span class="text-gray-600 text-sm font-semibold">
                                Available Stock
                            </span>
                            <span class="text-gray-400 text-sm">
                                {{ calculateProductQuantities }} items
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div 
                        class="
                            flex flex-row items-center justify-center bg-purple-50 rounded-xl p-2
                            hover:bg-purple-100 cursor-pointer transition duration-300 ease-in-out
                        "
                    >
                        <div 
                            class="
                                border-4 border-purple-500 text-sm
                                w-12 h-12 bg-white rounded-full flex items-center justify-center shadow-md text-purple-500 font-semibold
                            "
                        >
                            24%
                        </div>
                        <div class="flex flex-grow flex-col ml-3">
                            <span class="text-gray-600 text-sm font-semibold">
                                Withdrawals
                            </span>
                            <span class="text-gray-400">
                                ZK1,200
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center justify-between px-4 pt-3 border-t-2 border-gray-100">
                <div class="flex flex-col">
                    <span class="font-semibold text-gray-600 text-lg">
                        Payment Center
                    </span>
                    <span class="text-xs text-gray-500">
                        Where you receive payouts from your sales
                    </span>
                </div>
                <div 
                    (click)="toggleAddPaymentModal()"
                    class="flex flex-row items-center p-2 rounded-full bg-emerald-500 hover:bg-emerald-600 transition duration-300 ease-in-out"
                    [ngClass]="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN') ? 'cursor-pointer' : 'cursor-not-allowed'"
                >
                    <div class="bg-white rounded-full shadow-md text-emerald-500 font-black text-xl text-center px-2">
                        +
                    </div>
                    <span class="text-white text-sm font-semibold ml-2">
                        Add Payment Method
                    </span>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-2 pb-3" *ngIf="paymentDetails$ && paymentDetails$.length">
                <div class="p-2" *ngFor="let storePaymentDets of paymentDetails$">
                    <div class="flex flex-col bg-gradient-to-r from-cyan-800 to-emerald-500 rounded-xl px-3 py-6 shadow-lg">
                        <div class="flex flex-row items-center flex-grow justify-between">
                            <div class="flex flex-col">
                                <span class="text-white text-xs">
                                    {{ storePaymentDets.isPrimary ? 'Primary' : 'Secondary' }}
                                </span>
                                <span class="text-white font-semibold text-sm">
                                    {{ getPaymentMethodById(storePaymentDets.paymentMethodId).accountType }}
                                </span>
                            </div>
                            <div class="flex flex-row items-center">
                                <mat-icon
                                    (click)="toggleOnHideAccountNumber(storePaymentDets)"
                                    fontIcon="visibility_off"
                                    class="text-white text-sm cursor-pointer mr-2"
                                    *ngIf="!isShowAccountNumberToggle(storePaymentDets) && (hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN'))"
                                ></mat-icon>
                                <mat-icon
                                    (click)="toggleOnHideAccountNumber(storePaymentDets)"
                                    fontIcon="visibility"
                                    class="text-white text-sm cursor-pointer mr-2"
                                    *ngIf="isShowAccountNumberToggle(storePaymentDets) && (hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN'))"
                                ></mat-icon>
                                <mat-icon
                                    *ngIf="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN')"
                                    fontIcon="edit"
                                    class="text-white text-sm cursor-pointer"
                                ></mat-icon>
                            </div>
                        </div>
                        <div class="flex flex-row items-center flex-grow justify-between mt-4 bg-gradient-to-l from-gray-100/20 py-2 rounded-md">
                            <img
                                [src]="'../../../assets/img/logos/' + getPaymentMethodLogoById(storePaymentDets.paymentMethodId)"
                                alt="Payment Method Logo"
                                class="w-auto h-12"
                            >
                            <span class="text-white text-sm pr-4" *ngIf="!isShowAccountNumberToggle(storePaymentDets)">
                                {{ sanitizeAccountNumber(storePaymentDets) }}
                            </span>
                            <span class="text-white text-sm pr-4" *ngIf="isShowAccountNumberToggle(storePaymentDets)">
                                {{ storePaymentDets.accountNumber }}
                            </span>
                        </div>
                        <div class="flex flex-row items-center flex-grow ml-3 mt-4">
                            <div class="flex flex-col">
                                <span class="text-white text-xs">
                                    Acc. Name
                                </span>
                                <span class="text-white text-sm">
                                    {{ storePaymentDets.accountName }}
                                </span>
                            </div>
                            <div class="flex flex-col pl-4">
                                <span class="text-white text-xs">
                                    Type
                                </span>
                                <span class="text-white text-sm">
                                    {{ getPaymentMethodNameById(storePaymentDets.paymentMethodId) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-row my-4">
        <div class="w-full md:w-2/3 px-4 flex flex-col">
            <div class="py-2 px-3 bg-white rounded-lg flex flex-col">
                <div class="flex flex-row items-center justify-between px-3 pt-3">
                    <div class="flex flex-col">
                        <span class="font-semibold text-gray-600 text-lg">
                            {{ transactionTitle }}
                        </span>
                        <span class="text-xs text-gray-500">
                            All transactions made in the last 30 days
                        </span>
                    </div>
                    <div class="hidden md:flex flex-row items-center bg-gray-100 rounded-full">
                        <div
                            (click)="setTransactionType('all')"
                            class="py-2 px-3 rounded-full text-xs cursor-pointer transition duration-300 ease-in-out"
                            [ngClass]="transactionType === 'all' ? 'bg-emerald-500 text-white font-semibold' : 'text-gray-500'"
                        >
                            All
                        </div>
                        <div
                            (click)="setTransactionType('orders')"
                            class="py-2 px-3 rounded-full text-xs cursor-pointer transition duration-300 ease-in-out"
                            [ngClass]="transactionType === 'orders' ? 'bg-emerald-500 text-white font-semibold' : 'text-gray-500'"
                        >
                            Orders
                        </div>
                        <div
                            (click)="setTransactionType('stock')"
                            class="py-2 px-3 rounded-full text-xs cursor-pointer transition duration-300 ease-in-out"
                            [ngClass]="transactionType === 'stock' ? 'bg-emerald-500 text-white font-semibold' : 'text-gray-500'"
                        >
                            Stock
                        </div>
                        <div
                            (click)="setTransactionType('deductions')"
                            class="py-2 px-3 rounded-full text-xs cursor-pointer transition duration-300 ease-in-out"
                            [ngClass]="transactionType === 'deductions' ? 'bg-emerald-500 text-white font-semibold' : 'text-gray-500'"
                        >
                            Deductions
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-3">
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center first:py-0 py-2">
                        <img
                            src="../../../assets/img/female_placeholder.png"
                            alt="customer placeholder"
                            class="w-16 h-auto rounded-full hidden lg:inline-flex p-2"
                        >
                        <div class="flex flex-col p-2">
                            <span class="text-gray-600 text-sm font-semibold">
                                Jane Doe
                            </span>
                            <span class="text-gray-600 text-sm">
                                Sep 23, 2021
                            </span>
                        </div>
                        <div class="flex flex-col p-2">
                            <span class="text-gray-600 text-sm font-semibold">
                                Airtel MoMo:
                            </span>
                            <span class="text-gray-600 text-sm">
                                Order# 123456
                            </span>
                            <span class="text-green-600 text-sm font-semibold">
                                +150.00
                            </span>
                        </div>
                        <div class="flex flex-row items-center justify-between">
                            <div class="text-emerald-500 border-2 rounded-full h-10 flex items-center justify-center border-emerald-500 font-semibold flex-grow">
                                Completed
                            </div>
                            <mat-icon
                                fontIcon="arrow_right"
                                class="text-gray-400 cursor-pointer"
                            ></mat-icon>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center first:py-0 py-2">
                        <img
                            src="../../../assets/img/female_placeholder.png"
                            alt="customer placeholder"
                            class="w-16 h-auto rounded-full hidden lg:inline-flex p-2"
                        >
                        <div class="flex flex-col p-2">
                            <span class="text-gray-600 text-sm font-semibold">
                                Jane Doe
                            </span>
                            <span class="text-gray-600 text-sm">
                                Sep 23, 2021
                            </span>
                        </div>
                        <div class="flex flex-col p-2">
                            <span class="text-gray-600 text-sm font-semibold">
                                VisaCard:
                            </span>
                            <span class="text-gray-600 text-sm">
                                Stock
                            </span>
                            <span class="text-yellow-600 text-sm font-semibold">
                                +10.00
                            </span>
                        </div>
                        <div class="flex flex-row items-center justify-between">
                            <div class="text-yellow-500 border-2 rounded-full h-10 flex items-center justify-center border-yellow-500 font-semibold flex-grow">
                                Pending
                            </div>
                            <mat-icon
                                fontIcon="arrow_right"
                                class="text-gray-400 cursor-pointer"
                            ></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden w-1/3 px-4 md:flex flex-col">
            <div class="py-2 px-3 bg-white rounded-lg flex flex-col">
                <div class="flex flex-col p-2 mt-2">
                    <span class="font-semibold text-gray-600">
                        Actions
                    </span>
                    <span class="text-xs text-gray-500">
                        Quick actions to help you manage your store
                    </span>
                </div>
                <div
                    (click)="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN') && toggleWithdrawPaymentModal()"
                    class="flex flex-row bg-gray-700 rounded-xl p-2 items-center hover:bg-gray-600 transition duration-300 ease-in-out"
                    [ngClass]="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN') ? 'cursor-pointer' : 'cursor-not-allowed'"
                >
                    <div class="flex items-center justify-center bg-white h-12 w-12 rounded-full">
                        <mat-icon
                            fontIcon="swap_vert"
                            class="text-gray-700"
                        ></mat-icon>
                    </div>
                    <span class="text-white font-semibold ml-3 text-sm">
                        Withdraw
                    </span>
                </div>
                <div 
                    class="flex flex-row bg-emerald-500 rounded-xl p-2 items-center hover:bg-emerald-400 transition duration-300 ease-in-out mt-4"
                    [ngClass]="hasRole('ROLE_SUPER_ADMIN') || hasRole('ROLE_ADMIN') ? 'cursor-pointer' : 'cursor-not-allowed'"
                >
                    <div class="flex items-center justify-center bg-white h-12 w-12 rounded-full">
                        <mat-icon
                            fontIcon="list_alt"
                            class="text-emerald-500"
                        ></mat-icon>
                    </div>
                    <span class="text-white font-semibold ml-3 text-sm">
                        Send Invoices
                    </span>
                </div>
                <div class="flex flex-col p-2 mt-4">
                    <span class="font-semibold text-gray-600">
                        Invoices Sent
                    </span>
                    <span class="text-xs text-gray-500 hidden lg:block">
                        All invoices sent to customers in the last 30 days
                    </span>
                    <div class="flex flex-row mt-4 items-center justify-between border-2 border-gray-200 p-1 rounded-lg">
                        <div class="flex flex-row items-center">
                            <img
                                src="../../../assets/img/female_placeholder.png"
                                alt="customer placeholder"
                                class="w-16 h-auto rounded-full hidden lg:inline-flex"
                            >
                            <div class="flex flex-col ml-2">
                                <span class="text-xs font-semibold text-gray-700">
                                    Jane Doe
                                </span>
                                <span class="text-xs font-semibold text-gray-400">
                                    2 days ago
                                </span>
                            </div>
                        </div>
                        <span class="text-gray-600 text-sm font-semibold pr-2">
                            ZK150
                        </span>
                    </div>
                    <div class="flex flex-row mt-4 items-center justify-between border-2 border-gray-200 p-1 rounded-lg">
                        <div class="flex flex-row items-center">
                            <img
                                src="../../../assets/img/female_placeholder.png"
                                alt="customer placeholder"
                                class="w-16 h-auto rounded-full hidden lg:inline-flex"
                            >
                            <div class="flex flex-col ml-2">
                                <span class="text-xs font-semibold text-gray-700">
                                    Jane Doe
                                </span>
                                <span class="text-xs font-semibold text-gray-400">
                                    2 days ago
                                </span>
                            </div>
                        </div>
                        <span class="text-gray-600 text-sm font-semibold pr-2">
                            ZK150
                        </span>
                    </div>
                    <div class="flex flex-row items-center justify-center mt-2 bg-emerald-500 hover:bg-emerald-600 py-2 cursor-pointer transition duration-200 ease-in-out">
                        <span class="text-white text-sm">
                            View All
                        </span>
                        <mat-icon
                            fontIcon="arrow_forward"
                            class="text-white ml-2"
                        ></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading$">
    Loading...
</div>

<!-- Payment Modal -->
<app-modal>
    <!-- Modal header -->
    <div class="flex items-start justify-between px-4 py-3 border-b rounded-t">
        <h3 class="text-lg font-semibold text-gray-700">
            {{ isWidthdrawModal ? 'Withdraw' : 'Add Payment Method' }}
        </h3>
        <button
        (click)="!isWidthdrawModal ? toggleAddPaymentModal() : toggleWithdrawPaymentModal()"
            class="text-gray-400"
        >
            <mat-icon
                fontIcon="close"
            ></mat-icon>
        </button>
    </div>
    <!-- Modal body -->
    <div class="p-4 grid grid-cols-2" *ngIf="!isWidthdrawModal">
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Payment Method</span>
            <select class="p-2 w-full border-2" [(ngModel)]="editPaymentDetails$.paymentMethodId">
                <option value="0" disabled>Select a Payment Method</option>
                <option *ngFor="let method of paymentMethods$" [value]="method.id">{{ method.name }}</option>
            </select>
        </div>
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Account Name</span>
            <input
                type="text"
                class="
                    py-2 px-3 text-sm w-full
                    text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                "
                placeholder="Jane Tembo"
                [(ngModel)]="editPaymentDetails$.accountName"
            />
        </div>
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Account Number</span>
            <input
                type="text"
                class="
                    py-2 px-3 text-sm w-full
                    text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                "
                placeholder="0977 *** *** or 1234 5678 9012 3456"
                [(ngModel)]="editPaymentDetails$.accountNumber"
            />
        </div>
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Primary</span>
            <mat-slide-toggle
                class="mt-4"
                [(ngModel)]="editPaymentDetails$.isPrimary"
            >
                Set as Primary
            </mat-slide-toggle>
        </div>
    </div>
    <div class="p-4 grid grid-cols-2" *ngIf="isWidthdrawModal">
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Choose Payment Method*</span>
            <select class="p-2 w-full border-2">
                <option value="0" disabled>Select a Payment Method</option>
                <option *ngFor="let method of paymentMethods$" [value]="method.id">{{ method.name }}</option>
            </select>
        </div>
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Amount*</span>
            <input
                type="number"
                class="
                    py-2 px-3 text-sm w-full
                    text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                "
                placeholder="0.00"
            />
        </div>
        <div class="flex flex-col p-2">
            <span class="text-gray-500 text-sm font-semibold mb-2">Description</span>
            <input
                type="text"
                class="
                    py-2 px-3 text-sm w-full
                    text-gray-600 focus:outline-none border-2 border-gray-200 mr-2
                "
                placeholder="e.g. Stock Purchase"
            />
        </div>
    </div>
    <!-- Modal footer -->
    <div class="flex items-center justify-end px-4 py-3 border-t border-gray-200">
        <button 
            class="text-gray-600 text-sm mr-2 bg-transparent px-4 py-2 rounded-lg border-2 border-gray-600"
            (click)="!isWidthdrawModal ? AddPaymentDetails() : 'performWithdraw()'"
        >
            {{ !isWidthdrawModal ? 'Add Payment' : 'Withdraw' }}
        </button>
        <button
            (click)="!isWidthdrawModal ? toggleAddPaymentModal() : toggleWithdrawPaymentModal()"
            class="text-white text-sm bg-rose-600 px-4 py-2 rounded-lg hover:bg-rose-500 transition duration-200 ease-in-out"
        >
            Cancel
        </button>
    </div>
</app-modal>

<app-toaster>
    <div class="flex flex-row w-full h-full">
        <span 
            [ngClass]="{ 'text-green-500': toasterType === 'success', 'text-red-500': toasterType === 'error' }"
        >
            {{ toasterMessage }}
        </span>
        <mat-icon
            (click)="closeToaster()"
            fontIcon="close"
            class="text-gray-500 ml-2 cursor-pointer"
        ></mat-icon>
    </div>
</app-toaster>