<div class="p-4 flex flex-col">
    <h1 class="hidden md:inline-flex text-gray-700 text-2xl px-4 font-black">
        Dashboard
    </h1>
    <div class="p-4 w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white p-4 rounded-lg">
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Products
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                1,200
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+10%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Products
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="shopping_basket"
                            class="text-sky-500/70"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Orders
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                200
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+21%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Orders
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="shopping_cart"
                            class="text-pink-600/70"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Earnings
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                K12,500
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+70%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Earnings
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="payment"
                            class="text-blue-800/70"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Refunds
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                K500
                            </span>
                            <span class="text-red-400 text-xs ml-2">
                                (+5%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Refunds
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="restore"
                            class="text-red-600/70"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Customers
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                150
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+15%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Customers
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="group_add"
                            class="text-orange-600/70"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Reviews
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                150
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+15%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Reviews
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="rate_review"
                            class="text-yellow-400"
                        ></mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="p-3 border-2 rounded-lg flex flex-row items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-sm text-blue-800 font-semibold">
                            Contacts
                        </span>
                        <div class="flex flex-row items-center">
                            <span class="text-gray-500 text-lg">
                                150
                            </span>
                            <span class="text-emerald-400 text-xs ml-2">
                                (+15%)
                            </span>
                        </div>
                        <span class="text-xs text-gray-400">
                            Analytics &rarr; Contacts
                        </span>
                    </div>
                    <div class="bg-gray-100 rounded-lg p-4 flex justify-center items-center">
                        <mat-icon
                            fontIcon="mail"
                            class="text-teal-400"
                        ></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col w-full md:w-2/3 p-4">
            <div class="flex flex-col bg-white rounded-xl mb-4 p-4">
                <div class="flex flex-row items-center justify-between">
                    <h4 class="text-gray-500 font-semibold">
                        Overview
                    </h4>
                    <select
                        class="border-2 border-gray-200 bg-gray-100 text-gray-600 px-4 py-2 focus:outline-none focus:border-gray-300 cursor-pointer"
                    >
                        <option value="0">All time</option>
                        <option value="1">Today</option>
                        <option value="2">Yesterday</option>
                        <option value="7">This Week</option>
                        <option value="30">This Month</option>
                        <option value="365">This Year</option>
                    </select>
                </div>
                <div class="flex flex-row items-center justify-between my-4 bg-gray-100 rounded-lg">
                    <div class="flex flex-col flex-grow p-2">
                        <div class="flex flex-col bg-white rounded-lg p-3 shadow-lg">
                            <div class="flex flex-row items-center justify-between mb-2">
                                <span class="text-sm text-gray-500">
                                    Customers
                                </span>
                                <span class="text-sm text-emerald-500 font-semibold">
                                    10%
                                </span>
                            </div>
                            <h2 class="text-xl text-gray-700 font-bold">
                                11.590
                            </h2>
                        </div>
                    </div>
                    <div class="flex flex-col flex-grow p-2">
                        <div class="flex flex-col rounded-lg p-3">
                            <div class="flex flex-row items-center justify-between mb-2">
                                <span class="text-sm text-gray-500">
                                    Income
                                </span>
                                <span class="text-sm text-gray-600 font-semibold bg-white p-1 rounded-md">
                                    10%
                                </span>
                            </div>
                            <h2 class="text-xl text-gray-700 font-bold">
                                ZK460,000
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center mt-4 text-sm text-gray-500">
                    Welcome to our new <span class="font-semibold ml-1">2k online customers</span>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mt-4">
                    <div class="flex flex-col justify-center items-center">
                        <img
                            src="../../../assets/img/female_placeholder.png"
                            alt="customer placeholder"
                            class="w-16 h-auto rounded-full"
                        >
                        <span class="text-gray-500 text-sm mt-2">
                            Jane Tembo
                        </span>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <img
                            src="../../../assets/img/male_placeholder.png"
                            alt="customer placeholder"
                            class="w-16 h-auto rounded-full"
                        >
                        <span class="text-gray-500 text-sm mt-2">
                            John Tembo
                        </span>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <img
                            src="../../../assets/img/female_placeholder.png"
                            alt="customer placeholder"
                            class="w-16 h-auto rounded-full"
                        >
                        <span class="text-gray-500 text-sm mt-2">
                            Jane Tembo
                        </span>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="flex justify-center items-center h-14 w-14 bg-orange-200 rounded-full cursor-pointer">
                            <mat-icon
                                fontIcon="arrow_right_alt"
                                class="font-semibold text-orange-500"
                            ></mat-icon>
                        </div>
                        <span class="text-sm text-gray-500 mt-2 cursor-pointer">
                            View all
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-xl p-4">
                <div class="flex flex-row items-center justify-between pb-4 border-b-2 border-gray-100">
                    <h4 class="text-gray-500 font-semibold">
                        Total Revenue
                    </h4>
                    <select
                        class="border-2 border-gray-200 bg-gray-100 text-gray-600 px-4 py-2 focus:outline-none focus:border-gray-300 cursor-pointer"
                    >
                        <option value="0">All time</option>
                        <option value="1">Today</option>
                        <option value="2">Yesterday</option>
                        <option value="7">This Week</option>
                        <option value="30">This Month</option>
                        <option value="365">This Year</option>
                    </select>
                </div>
                <div class="flex flex-row items-center justify-between py-4">
                    Charts come here
                </div>
            </div>
        </div>
        <div class="hidden md:flex w-1/3 p-4">
            <div class="flex flex-col bg-white rounded-xl mb-4 p-4 w-full">
                <h4 class="text-gray-500 font-semibold border-b-2 border-gray-200 pb-4">
                    Popular Products
                </h4>
                <div class="flex flex-row items-center justify-between py-4">
                    <span class="text-sm text-gray-500">
                        Products
                    </span>
                    <span class="text-sm text-gray-500">
                        Earnings
                    </span>
                </div>
                <div class="flex flex-col pb-3">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center">
                            <img 
                                src="../../../assets/img/product-placeholder.png"
                                alt="product"
                                class="w-12 h-auto mr-2 rounded-lg"
                            >
                            <div class="flex flex-col">
                                <span class="text-gray-500 text-sm">
                                    Product 1
                                </span>
                                <span class="text-gray-300 text-xs">
                                    Catgegory
                                </span>
                            </div>
                        </div>
                        <div class="text-sm text-gray-500">
                            K100
                        </div>
                    </div>
                </div>
                <div class="flex flex-col pb-3">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center">
                            <img 
                                src="../../../assets/img/product-placeholder.png"
                                alt="product"
                                class="w-12 h-auto mr-2 rounded-lg"
                            >
                            <div class="flex flex-col">
                                <span class="text-gray-500 text-sm">
                                    Product 2
                                </span>
                                <span class="text-gray-300 text-xs">
                                    Catgegory
                                </span>
                            </div>
                        </div>
                        <div class="text-sm text-gray-500">
                            K12,500
                        </div>
                    </div>
                </div>
                <div class="flex flex-col pb-3">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center">
                            <img 
                                src="../../../assets/img/product-placeholder.png"
                                alt="product"
                                class="w-12 h-auto mr-2 rounded-lg"
                            >
                            <div class="flex flex-col">
                                <span class="text-gray-500 text-sm">
                                    Product 3
                                </span>
                                <span class="text-gray-300 text-xs">
                                    Catgegory
                                </span>
                            </div>
                        </div>
                        <div class="text-sm text-gray-500">
                            K6,500
                        </div>
                    </div>
                </div>
                <button
                    class="
                        py-2 px-4 mt-4
                        bg-transparent text-emerald-500 rounded-lg  border-2 border-emerald-500
                        hover:bg-emerald-600 hover:text-white transition duration-300 ease-in-out
                    "
                >
                    View all
                </button>
            </div>
        </div>
    </div>
</div>