<div class="flex flex-col justify-center items-center w-full h-full relative">
    <span class="text-2xl font-black text-gray-600">
        Member Login
    </span>
    <div class="w-4/5 h-14 border-2 border-gray-400 rounded-full mt-5 px-5 flex flex-row items-center">
        <mat-icon
            fontIcon="email"
            class="text-gray-500 mr-3"
        ></mat-icon>
        <input
            type="email"
            class="w-full h-full outline-none"
            placeholder="Email"
            [(ngModel)]="user.email"
        >
    </div>
    <div class="w-4/5 h-14 border-2 border-gray-400 rounded-full mt-5 px-5 flex flex-row items-center">
        <mat-icon
            fontIcon="lock"
            class="text-gray-500 mr-3"
        ></mat-icon>
        <input
            type="password"
            class="w-full h-full outline-none"   
            placeholder="Password"
            [(ngModel)]="user.password"
        >
    </div>
    <button
        (click)="performLogin()"
        class="w-4/5 h-14 bg-gradient-to-r from-pink-500 to-yellow-500 text-white rounded-full mt-5 font-semibold"
    >
        Login
    </button>
    <span class="mt-5 text-gray-500 cursor-pointer">
        Forgot Username / Password?
    </span>
    <div class="absolute bottom-0 mb-4">
        <span
            (click)="register()"
            class="cursor-pointer text-pink-500">
            Create an account
        </span>
    </div>
</div>