<div
    class="items-center text-center justify-center p-3 mb-2 bg-white rounded-full shadow-lg"
    [ngClass]="{ 'flex': openMenu, 'hidden': !openMenu }"
>
    <mat-icon
        fontIcon="chat"
        class="text-gray-700 cursor-pointer text-2xl"
    ></mat-icon>
</div>
<div 
    class="items-center text-center justify-center p-3 mb-2 bg-white rounded-full shadow-lg"
    [ngClass]="{ 'flex': openMenu, 'hidden': !openMenu }"
>
    <mat-icon
        fontIcon="adb"
        class="text-gray-700 cursor-pointer text-2xl"
    ></mat-icon>
</div>
<div class="flex items-center text-center justify-center p-3 mb-2 bg-gray-700 rounded-full shadow-lg">
    <div [ngClass]="{ 'flex': openMenu, 'hidden': !openMenu }">
        <mat-icon
            (click)="toggleMenu()"
            fontIcon="clear"
            class="text-white cursor-pointer text-2xl"
        ></mat-icon>
    </div>
    <div [ngClass]="{ 'hidden': openMenu, 'flex': !openMenu }">
        <mat-icon
            (click)="toggleMenu()"
            fontIcon="create"
            class="text-white cursor-pointer text-2xl"
        ></mat-icon>
    </div>
</div>